<%- include('layouts/header'); -%>

<!-- Product Details Section Begin -->
<section class="product-details spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="product__details__pic">
          <div class="product__details__pic__item">
            <img
              class="product__details__pic__item--large"
              src="/img/product/details/<%=tasker.Name%>.png"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="product__details__text">
          <h3><%=tasker.Name%></h3>
          <div class="product__details__price">
            $<%=tasker.Price%> / Hour
            <p><%=tasker.Location%></p>
          </div>
          <p><%=task%></p>
          <p><%=tasker.Name%>'s information will be displayed here.</p>
          <a href="/checkout/<%= tasker.Name %>/<%= task %>" class="primary-btn"
            >Booking</a
          >
          <ul>
            <li><b>Availability</b> <span>In Stock</span></li>
            <li>
              <b>Share on</b>
              <div class="share">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Product Details Section End -->

<%- include('layouts/footer'); -%>
